.dropdownbutton {
    background-color: blue;
    color: yellow;
    padding: 20px;
    font-size: 16px;
    font-family:cursive;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position:static;
    background-color: lightblue;
    min-width: 155px;
}
.dropdown-menu a {
    color: black;
    passing: 11px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: white;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown:hover .dropdownbutton {
    background-color: grey;
}
/* h1 ~ b {
    color: red;
} */
/* h1 + b {
    color: red;
} */
/* h1 > b {
    color: red;
} */

/* table, th, td {
    display: none;
    visibility: hidden;
    border: 2px solid;
    width: 50%;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 10px;
}
tr:hover {
    when we move the mouse in the table, it change the color
    background-color: blue;
} */