#calculator {
  border: 1px solid rgb(163, 160, 160);
  border-radius: 4px;
  width: 300px;
}
#display{
  margin: 10px;
  width: 90%;
  font-size: 35px;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  height: 70px;
  width: 70px;
  margin: 3px;
}