body{

}
h1, a {
    
}

/* h1 { */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: "Lucida Console", "Courier New", monospace; */
    /* font-style: italic; */
    /* font-style: oblique; */
    /* font-weight: normal; */
    /* font-size: 50px; */
    /* font-size: 4em;   */
/* } */

/* h1, a { */
    /* text-align: justify; */
    /* text-align: center; */
    /* text-decoration-line: underline; */
    /* text-decoration-line: line-through; */
    /* text-decoration-line: overline;
    text-decoration-color:green;
    text-decoration-style: double;
    text-decoration-thickness: 10px; */
    /* text-decoration: overline purple solid 6px; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    /* text-indent: 30px; */
    /* letter-spacing: 10px; */

/* } */

/* h1 {
    border: 2px dashed green;
    outline-style: solid;
    Space b/w two border
    outline-offset: 10px;  
} */

/* h1 {
    height: 90px;
    width: 90px;
    max-width: 50%;
    background-color: purple;
} */

/* h1 { */
    /* border-style: dashed; */
    /* border-bottom: dashed; */
    /* border: 10px dashed purple; */
    /* border: 3px solid purple; */
    /* border-radius: 15px; curve the edge of the box */

    /* Padding */
    /* padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px; */
    /* padding: 40px 10px 20px; */
    /* padding: 40px; */
/* } */
/* h1 {
    /* border-style: dotted; */
    /* border-style: solid; */
    /* border-style: groove; */
    /* border-style: dashed; */
    /* border-style: ridge; */
    /* border-style: outset; */
    /* border-style: inset; */
    /* border-style: dashed dotted double solid; */
    /* border-style: solid; */
    /* border-width: 6px; */
    /* border-width: thick; */
    /* border-width: 10px 5px 11px 12px; */
    /* border-color: purple blue green yellow; */

/* } */ 
/* b {
    margin-top: 60px;
}
p {
    margin-top: inherit;
} */
/* .heading {
    color:blue;
    margin: 50px 50px 50px 50px;
} It will place in the middle in the webpage */
/* p {
    color:black;
    /* margin-left: 100px; */
    /* margin-right: 50px; */
    /* margin-top: 20px; */
    /* margin-bottom: 100px; */
    /* margin-left: 50%;
    margin-bottom: 50%; */
/* }  */
/* body {
    background-image: url("https://naturalhistory.si.edu/sites/default/files/styles/hero/public/media/image/acevedo-16407sm.jpg.webp?itok=o-tdNpy7") ;
    background-position: right top;
} */
/* body {
    background-color:lightblue;
    opacity: 0.6;
} */
/* If u select id, then u have to give #
#Welcome{
    background-color: green;
}

h1.heading { 
    color: blue;
} /*for class, we have to give '.'*/

/* * {
    color:purple;
}
h1, p {
    color:red
} */ 
