.bag-button {
  background-color: rgb(127, 239, 127);
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
}
.wish-button {
  padding: 5px 35px;
  border: 2px solid black;
  border-radius: 10px;
  text-transform: uppercase;
}